@{
    ViewData["Title"] = "About";
}

<div class="container about-container">
    <div class="about-left">
        <h1>Get to know me!</h1>
        <p>
            I'm <strong>Bhavishya Reddy</strong>, a .NET Developer specializing in full-stack development.
            From optimizing RESTful APIs to designing scalable microservices and deploying applications
            in cloud environments (<strong>AWS, Azure</strong>), I thrive on crafting high-performing applications.
            My expertise extends to database performance tuning, DevOps automation, and front-end technologies like <strong>React</strong> and <strong>Angular</strong>.
        </p>
        <p>
            Explore my work to see how I leverage technologies like <strong>C#, .NET Core, SQL, React,</strong> and <strong>Kubernetes</strong>
            to build efficient software solutions.
        </p>
        <p>
            I'm actively seeking opportunities where I can contribute, learn, and grow.
            If you have an exciting challenge that aligns with my skills, feel free to connect –
            I'm always open to new opportunities!
        </p>
        <a href="#contact" class="contact-btn">Contact Me</a>
    </div>
    <div class="about-right">
        <h2>My Skills</h2>
        <div class="skills-container">
            <span>C#</span>
            <span>ASP.NET Core</span>
            <span>.NET Framework</span>
            <span>Entity Framework</span>
            <span>NodeJS</span>
            <span>ReactJS</span>
            <span>Angular</span>
            <span>HTML5</span>
            <span>CSS3</span>
            <span>JavaScript</span>
            <span>SQL Server</span>
            <span>MySQL</span>
            <span>Oracle</span>
            <span>MongoDB</span>
            <span>AWS (EC2, S3, RDS, Lambda)</span>
            <span>Azure (Blob Storage, Azure Functions)</span>
            <span>Docker</span>
            <span>Kubernetes</span>
            <span>CI/CD</span>
            <span>OAuth 2.0</span>
            <span>JWT</span>
            <span>IdentityServer</span>
            <span>NUnit</span>
            <span>xUnit</span>
            <span>Selenium</span>
            <span>Git </span>
            <span>Agile</span>
        </div>
    </div>
</div>

<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>

<footer>
    <div class="footer-content">
        <p>© Copyright 2024 Bhavishya Reddy Karakala. All Rights Reserved.</p>
        <div class="social-icons">
            <a href="mailto:bhavireddyk08@gmail.com" target="_blank" class="social-icon"><i class="fas fa-envelope"></i></a>
            <a href="https://www.linkedin.com/in/bhavishya-reddy-karakala/ target="_blank" class="social-icon"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/bkarakala" target="_blank" class="social-icon"><i class="fab fa-github"></i></a>

        </div>
    </div>
</footer>

