<div class="contact-title-box">
    Contact Me
</div>

<div class="contact-container">
    <div class="contact-info">
        <i class="fas fa-envelope"></i>
        <strong>Email:</strong> <a href="mailto:bhavireddyk08@gmail.com">bhavireddyk08@gmail.com</a>
    </div>
    <div class="contact-info">
        <i class="fab fa-linkedin"></i>
        <strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/bhavishya-reddy" target="_blank">Bhavishya Reddy</a>
    </div>
</div>


<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>

<footer>
    <div class="footer-content">
        <p>© Copyright 2024 Bhavishya Reddy Karakala. All Rights Reserved.</p>
        <div class="social-icons">
            <a href="mailto:bhavireddyk08@gmail.com" target="_blank" class="social-icon"><i class="fas fa-envelope"></i></a>
            <a href="https://www.linkedin.com/in/bhavishya-reddy-karakala/ target="_blank" class="social-icon"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/bkarakala" target="_blank" class="social-icon"><i class="fab fa-github"></i></a>

        </div>
    </div>
</footer>
