<div class="projects-container">
    <!-- Project 1: Hospital Management System -->
    <div class="project">
        <img src="/Images/Hospital.png" alt="Hospital Management System" class="project-image">
        <div class="project-description">
            <h2><strong>Hospital Management System</strong></h2>
            <p>
                This project is a <strong>full-stack hospital management system</strong> built with <strong>ASP.NET Core, SQL Server, and React.js</strong>. It allows seamless patient registration, doctor appointment scheduling, and efficient billing and records management.
            </p>
            <a href="https://github.com/bkarakala/HospitalManagementSystem" target="_blank" class="code-button">View Code</a>
        </div>
    </div>

    <!-- Project 2: Bus Booking Management System -->
    <div class="project">
        <img src="/Images/BusBookingSystem.png" alt="Bus Booking Management System" class="project-image">
        <div class="project-description">
            <h2><strong>Bus Booking Management System</strong></h2>
            <p>
                A web-based platform that simplifies the process of reserving bus seats for scheduled routes, school transport, private hire, and tourist trips. Built with <strong>React.js, Node.js, and Express</strong>.
            </p>
            <a href="https://github.com/bkarakala/BusBookingSystem.git" target="_blank" class="code-button">View Code</a>
        </div>
    </div>
</div>

<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>

<footer>
    <div class="footer-content">
        <p>© Copyright 2024 Bhavishya Reddy Karakala. All Rights Reserved.</p>
        <div class="social-icons">
            <a href="mailto:bhavireddyk08@gmail.com" target="_blank" class="social-icon"><i class="fas fa-envelope"></i></a>
            <a href="https://www.linkedin.com/in/bhavishya-reddy-karakala/ target="_blank" class="social-icon"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/bkarakala" target="_blank" class="social-icon"><i class="fab fa-github"></i></a>

        </div>
    </div>
</footer>
